#contato{
    background: url("../images/svgs/footerbg.svg") no-repeat;
    background-size: cover;
    margin-top: 60px;
    padding: 0 30px;
}

#contato h2{
    margin-bottom: 140px;
}

.separa{
    display: grid;
    grid-template-columns: auto 290px;
    gap: 160px;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.separa article{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

@media (max-width: 800px) {
    #contato h2{
        text-align: center;
    }

    .separa{
        grid-template-columns: auto;
        gap: 0;
 
    }

    .separa h3{
        display: none;
    }
}