#formacao {
    background: url("../images/formacaoBG.svg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

#formacao h2 {
    margin: auto;
}

.feitos{
    display: grid;
    grid-template-columns: auto;
    gap: 100px;
    justify-content: center;
    padding: 120px 0 60px 60px;
}

.bacharel, .cursos, .idiomas{
    position: relative;
}

.bacharel::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    top: -5px;
    background: url("../images/bacharel.svg") no-repeat;
    background-size: contain;
}

.cursos::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    top: -3px;
    background: url("../images/courses.svg") no-repeat;
    background-size: contain;
}

.idiomas::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    top: -5px;
    background: url("../images/languages.svg") no-repeat;
    background-size: contain;
}

.slide{
    display: flex;
    gap: 40px;
    max-width: calc(100vw - 60px);
    overflow-x: scroll;
}

.curso{
    min-width: 160px;
    height: 140px;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    align-content: space-between;
    color: var(--graytext);
    background-color: var(--cursoback);
}

.curso div{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    #formacao{
        background-size: cover;
    }

    #formacao h2 {
        max-width: initial;
        text-align: center;
    }

    .feitos{
        gap: 50px;
    }

    
}