#projetos {
    display: grid;
    grid-template-columns: 760px;
    gap: 40px;
    justify-content: center;   
    margin-top: 60px; 
}

.projetos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-content: center;
}

.centrocelular{
    text-align: right;
}

.projeto {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 3px;
    background-color: var(--darkback);
    height: 150px;
    border-radius: 0 10px 10px 10px;
    position: relative;
}

.projeto::before{
    content: "";
    width: 20px;
    height: 80px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url("../images/svgs/projeto.svg");
    background-size: cover;
}

.descricao{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.tech{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: var(--cursotext);
    padding: 5px;
    border-radius: 4px;
}

.mais{
    color: var(--darkblue);
    text-align: center;
    position: relative;
}

.mais::after{
    content: "";
    width: 90px;
    height: 3px;
    position: absolute;
    left: calc(50% - 45px);
    bottom: 2px;
    background-color: var(--darkblue);
}

.bgimg{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

@media (max-width: 800px) {
    #projetos {
        grid-template-columns: auto;
        padding-left: 20px;
    }

    .projeto{
        display: grid;
        grid-template-columns: 300px;
        gap: 10px;
        height: auto;
    }

    .bgimg{
        background-size: cover;
        height: 300px;
    }

    .centrocelular{
        text-align: center;
    }
}